<!-- your html code here -->
<div class= "container" >
              
    <form class="mt-5 "> 
       
       <div class="row">
            <div class="col">
                 <h1>
                 Contact
                 </h1>
           </div>

       </div>
       <div class="row ">
             <div class="col">
                   <p  class="fs-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
             </div>

       </div>
<div class="row d-flex justify-content-center ">
<div class="col-9 bg-light border border-1 ps-5 ">
<div class="row  my-3  ">
                <div class="col-2 pt-2">
                  <label class="fw-bold" >Your E-mail</label>
     
               </div>
                <div class="col-10 " >
                    <input type="Text" name="card"placeholder="Your email" class="form-control ">
               </div>

       </div>
        <div class="row ">
     
                  <div class="col-2 pt-2 ">
                       <label class="fw-bold">Your message</label>

                </div>
  
                  <div class="col-10 " >
                            <textarea class="form-control"  style="height: 120px" placeholder="Please enter your message here..." ></textarea>
                   </div>

         </div>
 
 
 
         <div class="row  py-3 px-3  m-0 p-0 " >

                   <div  class="col-12  d-flex justify-content-end ">

             
                     <button class="btn btn-primary btn-lg me-md-2" type="button">Submit</button>
   
                             </div>

           </div>
    </div>
</div>
</form>         
</div>

</body>