<!-- your html code here -->
<div class="container-fluid px-5">
   
    <div class="mb-3">
      
      <h3>
      Porfolio
      </h3>
      
      <div>
       Donec ullamcorper nulla metus auctor fringilla. vstubulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisi consecteur. Fusce dapibus, tellus ac cursus commdo.
         
      </div>
        
    </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
   <div class="col">
     <div class="card h-100">
       <img src="https://picsum.photos/id/26/700/400" class="card-img-top" alt="...">
       <div class="card-body ">
         <h5 class="card-title text-info">Project Name</h5>
         <p class="card-text" style="font-size:12px;">Lorem ipsum dolor sit emet, corsaectuter adipscing elit, nam vivarra eusmod odio, gravida paletesque urna variua vilae.</p>
       </div>
       
     </div>
   </div>
   <div class="col">
     <div class="card h-100">
       <img src="https://picsum.photos/id/1/700/400" class="card-img-top" alt="...">
       <div class="card-body ">
         <h5 class="card-title text-info" >Project Name</h5>
         <p class="card-text" style="font-size:12px;">Lorem ipsum dolor sit emet, corsaectuter adipscing elit, nam vivarra eusmod odio, gravida paletesque urna variua vilae.</p>
       </div>
       
     </div>
   </div>
   <div class="col">
     <div class="card h-100">
       <img src="https://picsum.photos/id/4/700/400" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title text-info">Project Name</h5>
         <p class="card-text" style="font-size:12px;"> Lorem ipsum dolor sit emet, corsaectuter adipscing elit, nam vivarra eusmod odio, gravida paletesque urna variua vilae.</p>
       </div>
       
     </div>
   </div>
 </div>
  
  </div>
  